<form autocomplete="off">
  {{!log "wilder" this}}
  <section class="sheet-body pj-sheet">
    {{> "systems/wilderfeast/templates/sheets/partials/wilder-header.hbs" }}
    <div class="sheet-cont">
      {{! Skills and Styles Tab }}
      <div class="tab tab-skills flexcol" data-group="primary" data-tab="skills">
          {{> "systems/wilderfeast/templates/sheets/partials/actor-skills.hbs"}}
          {{> "systems/wilderfeast/templates/sheets/partials/wilder-tool.hbs"}}
      </div>

      {{! Notes Tab }}
      <div class="tab tab-desc flexcol" data-group="primary" data-tab="description">
        {{> "systems/wilderfeast/templates/sheets/partials/actor-description.hbs"}}
      </div>
    </div>
  </section>
</form>